body {
        text-align: center;
}

.profile {
    border-radius: 100%;
    width: 300px;
}

#welcome {
    position: absolute;
    bottom: 0;
    background: linear-gradient(hsl(49, 100%, 89%) 0%, #ffffff 100%);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Bebas Neue', cursive;
}

#bio {
    font-family:  cursive;
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.parallax-inner {
    display: table-cell;
    vertical-align: middle;
}


.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px; 
    z-index: 10px;
    cursor: pointer;
    background: #ffffff;
}


.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    display: inline;
}


.myNavbar {
     position:sticky;
      top:0;
       z-index:99999;
     }


     .parallax-inner {
          display: table-cell; 
        vertical-align: middle;
     }


     #videos iframe {
        width: 80%;
}